[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "myblog/themes/hugo-PaperMod"]
	path = myblog/themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
	branch = master
